<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href="./css/styles.css">
    <title>Help</title>
    <link rel="icon" href="./img/weather.png">
    <META id="META" name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>