<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <META id="META" name="viewport" content="width=device-width; initial-scale=1.0" >
</head>

<body>
    <div class='main-content'>
        {{>header}}

        <p>Digita il luogo di cui vuoi sapere il "tempo"</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>